<div class="mfe-wrapper">
  <header>
    <h1>MFE Banking Transaction</h1>
  </header>

  <main class="content-area">
    @switch (view()) {
      
      @case (AppView.STEP_ONE) {
        <app-step-one />
      }
      
      @case (AppView.STEP_TWO) {
        @defer {
          <app-step-two />
        }

        @loading (minimum 1s; after 1000ms) {
          <div class="skeleton-loader">
            <p>Carregando formulário...</p>
            <div class="spinner"></div>
          </div>
        }

        @placeholder {
          <div>Aguardando...</div>
        }

        @error {
          <p>Falha ao carregar o passo 2. Verifique sua conexão.</p>
          <button >Tentar novamente</button>
        }
      }
      
      @case (AppView.EDITOR_A) {
        
        @defer{
          <app-editor-content-a />
        }
        
        @loading (minimum 1s; after 1000ms) {
          <div class="skeleton-loader">
            <p>Carregando Editor A...</p>
            <div class="spinner"></div>
          </div>
        }
        
        @placeholder {
          <div>Aguardando...</div>
        }
      }
      
      @case (AppView.EDITOR_B) {
        
        @defer{
          <app-editor-content-b />
        }

        @loading (minimum 1s; after 1000ms) {
          <div class="skeleton-loader">
            <p>Carregando Editor B...</p>
            <div class="spinner"></div>
          </div>
        }
        
        @placeholder {
          <div>Aguardando...</div>
        }
      }
      
      @default {
        <p>Estado desconhecido.</p>
      }
    }
  </main>
</div>